body {
  margin: 0;
}

canvas#main {
  display: block;
}

#overlay {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
}

#ui {
  position: absolute;
  z-index: 10;
  bottom: 10px;
  right: 10px;
}

.uiRow {
  
}
.uiRowLabel {
  
}
.uiRowSelect {
  
}
.uiRowButton {
  
}
.uiRowNumInput {
  
}
