body {
  margin: 0;
}

canvas#main {
  display: block;
}

#overlay {
  position: absolute;
  z-index: 10;
  top: 5px;
  right: 5px;
  
  padding: 5px;
  background-color: white;
}

#ui {
  position: absolute;
  z-index: 10;
  bottom: 5px;
  right: 5px;
  
  padding: 5px;
  background-color: white;
}

.uiRow {
  
}
.uiRowLabel {
  
}
.uiRowSelect {
  
}
.uiRowButton {
  
}
.uiRowText {
  
}
